*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	display: flex;
	justify-content: center;
	align-items:  center;
	height: 100vh;
}

.board {
	display: grid;
	width: 480px;
	height: 480px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border-radius: 2rem;
}

.b-elem {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	border: 1px solid black;
}
